@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            @*<div class="header">
                    <h4 class="title">202 Awesome Stroke Icons</h4>
                    <p class="category">Handcrafted by our friends from <a target="_blank" href="http://themes-pixeden.com/font-demos/7-stroke/index.html">Pixeden</a></p>
                </div>*@
            <div class="content all-icons">
                <div class="row">
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/GharJagga/CitizenInfo/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-home"></i>
                                <input type="text" value="घर जग्गा">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/GharJagga/NirmanBebasahi/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-delete-user"></i>
                                <input type="text" value="ईजाजत नविकरण">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/GharJagga/nirmanBebasahiApproval/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-mail-open-file"></i>
                                <input type="text" value="ईजाजत पत्र पाउँ ">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/GharJagga/SamrachanaDemolition/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-paint"></i>
                                <input type="text" value="संरचना भत्काउन">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/GharJagga/gharBato/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-right-arrow"></i>
                                <input type="text" value="घर/बाटो">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/GharJagga/GharJaggaKar/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-cash"></i>
                                <input type="text" value="घर जग्गा कर">
                            </div>
                        </a>
                    </div>
                </div>
            

            </div>

            </div>
        </div>
    </div>

