@model Sifaris.Models.FiscalYearModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well well-small">

    @using (Html.BeginForm())
    {
        Html.RenderPartial("VUC_Add");
        <br />

        <input type="submit" value="सेभ गर्नुहोस" class="btn" />
        <div class="btn"> @Html.ActionLink("पछाडी फर्कने", "Index")</div>

    }
</div>

