@model Sifaris.Models.PadhaModel

@{
    ViewBag.Title = "कर्मचारी पद-सम्पादन";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well well-small">
    @using (Html.BeginForm())
    {
        Html.RenderPartial("VUC_Add");
        <br />

        <input type="submit" value="सम्पादन गर्नुहोस" class="btn" />
        <div class="btn">  @Html.ActionLink("पछाडी फर्कनुहोस्", "Index")</div>

    }
</div>

