@model SifarishView.Areas.GharJagga.Models.CitizenInfoViewModel

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">

    <div id="page1-div" style="position:relative;width:918px;height:1188px;">

        <p style="position:absolute;top:19px;left:383px;white-space:nowrap" class="ft10"><b>कीर्तिपुर&#160;नगरपालिका&#160;कार्ाििर्&#160;</b></p>
        <p style="position:absolute;top:56px;left:427px;white-space:nowrap" class="ft11">देबढोका,&#160;कीर्तिपुर&#160;</p>
        <p style="position:absolute;top:93px;left:421px;white-space:nowrap" class="ft10"><b>घरजग्गाको वििरण&#160;</b></p>
        <p style="position:absolute;top:134px;left:108px;white-space:nowrap" class="ft12">घर&#160;जग्गा&#160;कर:-&#160;स्थार्िय&#160;स्वायत्त&#160;शासि&#160;ऐि&#160;२०५५&#160;को&#160;दफा&#160;१३६&#160;तथा&#160;र्ियमावलीको&#160;र्ियम&#160;१४०&#160;सँग&#160;सम्बन्धित&#160;</p>
        <p style="position:absolute;top:171px;left:61px;white-space:nowrap" class="ft13">&#160;&#160;&#160;&#160;&#160;&#160;&#160;श्रीमाि&#160;्&#160;सचिबज्यू,&#160;</p>
        <p style="position:absolute;top:204px;left:108px;white-space:nowrap" class="ft13">कीर्तिपुर&#160;िगरपाललका&#160;</p>
        <p style="position:absolute;top:237px;left:108px;white-space:nowrap" class="ft13">कीर्तिपुर,&#160;काठमणडौ&#160;।&#160;</p>
        <p style="position:absolute;top:270px;left:108px;white-space:nowrap" class="ft13">महोदय,&#160;</p>
        <p style="position:absolute;top:308px;left:108px;white-space:nowrap" class="ft14">&#160;</p>
        <p style="position:absolute;top:306px;left:162px;white-space:nowrap" class="ft13">स्थार्िय&#160;स्वायत्त&#160;शासि&#160;ऐि&#160;२०५५&#160;तथा&#160;र्ियमावली&#160;२०५६&#160;अिुसार&#160;मेरो&#160;पररवारको&#160;स्वालमत्वमा&#160;रहेको&#160;आचथिक&#160;वर्ि&#160;&#160;२०.............&#160;&#160;&#160;</p>
        <p style="position:absolute;top:329px;left:108px;white-space:nowrap" class="ft13">को&#160;घर&#160;जग्गाको&#160;वववरण&#160;देहाय&#160;बमोन्जम&#160;खुलाई&#160;पेश&#160;गरेको&#160;छु&#160;।&#160;सो&#160;वववरण&#160;झुठ्ठा&#160;ठहरे&#160;कािुि&#160;बमोन्जम&#160;सहुँला&#160;बुझाउँला&#160;।&#160;</p>
        <p style="position:absolute;top:367px;left:135px;white-space:nowrap" class="ft13">१)&#160;&#160;वववरण&#160;दताि&#160;गिे&#160;व्यन्त्तको&#160;:-&#160;&#160;</p>
        <p style="position:absolute;top:389px;left:162px;white-space:nowrap" class="ft15">घर&#160;जग्गा&#160;ििीको&#160;िाम,&#160;थर&#160;:-&#160;&#160;<br />ठेगािा&#160;: ………………………………….&#160;अञ्िल&#160;:-&#160;……………………………………….&#160;न्जल्ला&#160;:-&#160;…………………………..&#160;<br />िगरपाललका/गा.वव.स.&#160;वडा&#160;िं.&#160;:-&#160;………………………………………&#160;साववक&#160;वडा&#160;िं.&#160;:-&#160;…………………………….&#160;<br />घर&#160;जग्गा&#160;ििीको&#160;बुबा/पर्तको&#160;िाम,&#160;थर&#160;:-&#160;&#160;<br />बाजेको&#160;िाम,&#160;थर&#160;:-&#160;<br />िागररकता&#160;िं.&#160;र&#160;जारी&#160;लमर्त&#160;:-&#160;<br />िागररकता&#160;प्रदाि&#160;गिे&#160;न्जल्ला&#160;:-&#160;&#160;</p>
        <p style="position:absolute;top:563px;left:135px;white-space:nowrap" class="ft13">२)&#160;&#160;घर&#160;न्जग्गाको&#160;संक्षिप्त&#160;वववरण&#160;&#160;</p>
        <p style="position:absolute;top:589px;left:150px;white-space:nowrap" class="ft13">क)&#160;&#160;घरको&#160;संख्या&#160;:-&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;ख)&#160;िेत्रफल&#160;:-&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;ग)&#160;ककत्ता&#160;िं.&#160;:-&#160;&#160;&#160;</p>
        <p style="position:absolute;top:627px;left:150px;white-space:nowrap" class="ft13">घ)&#160;घर&#160;जग्गाको&#160;साँि&#160;सँचियार&#160;</p>
        <p style="position:absolute;top:660px;left:150px;white-space:nowrap" class="ft13">पुवि&#160;:-&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;&#160; &#160;&#160;&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;पन्चिम&#160;:-&#160;</p>
        <p style="position:absolute;top:694px;left:150px;white-space:nowrap" class="ft13">उत्तर&#160;:-&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;दक्षिण&#160;:-&#160;</p>
        <p style="position:absolute;top:726px;left:150px;white-space:nowrap" class="ft13">क)&#160;&#160;घर&#160;तफि&#160;:-&#160;</p>
        <p style="position:absolute;top:748px;left:108px;white-space:nowrap" class="ft11">&#160; &#160;&#160;घरको बिोट&#160;वचगिकरण&#160;:-&#160;</p>
        <p style="position:absolute;top:775px;left:145px;white-space:nowrap" class="ft15">१)&#160;&#160;लित्र&#160;काँिो&#160;बाहहर&#160;ईट्टामा&#160;माटो&#160;जोडाइ&#160;सबै&#160;ककलसमका&#160;घर&#160;र&#160;काठैकाठबाट&#160;बिेको&#160;घर&#160;।&#160;<br />२)&#160;&#160;लित्र&#160;बाहहर&#160;पाको&#160;ईट्टा&#160;वा&#160;ढुङ्गामा&#160;माटो&#160;जोडाइ&#160;िएको&#160;सबै&#160;ककलसमका&#160;घर&#160;।&#160;<br />३)&#160;&#160;लित्र&#160;बाहहर&#160;पाको&#160;ईट्टामा&#160;लसमेधट&#160;वा&#160;वज्रको&#160;जोडाइ&#160;िएको&#160;सबै&#160;ककलसमका&#160;घर&#160;।&#160;<br />४)&#160;&#160;आर.&#160;सी.&#160;सी.&#160;फ्रेम&#160;स्रक्िरबाट&#160;बिेको&#160;घर&#160;।&#160;</p>
        <p style="position:absolute;top:882px;left:136px;white-space:nowrap" class="ft13">क्र.सं.&#160;&#160;</p>
        <p style="position:absolute;top:882px;left:243px;white-space:nowrap" class="ft13">घरििीको&#160;िाम,&#160;थर&#160;</p>
        <p style="position:absolute;top:882px;left:435px;white-space:nowrap" class="ft13">घर&#160;रहेको&#160;उिाई/िौडाई/स्थाि&#160;&#160;तल्ला&#160;</p>
        <p style="position:absolute;top:882px;left:668px;white-space:nowrap" class="ft13">जम्मा&#160;घर&#160;बिेको&#160;वगि&#160;फुट/बिौट&#160;</p>
        <p style="position:absolute;top:905px;left:744px;white-space:nowrap" class="ft13">साल&#160;</p>
        <p style="position:absolute;top:929px;left:136px;white-space:nowrap" class="ft14">&#160;</p>
        <p style="position:absolute;top:929px;left:184px;white-space:nowrap" class="ft14">&#160;</p>
        <p style="position:absolute;top:929px;left:427px;white-space:nowrap" class="ft14">&#160;</p>
        <p style="position:absolute;top:929px;left:616px;white-space:nowrap" class="ft14">&#160;</p>
        <p style="position:absolute;top:929px;left:663px;white-space:nowrap" class="ft14">&#160;</p>
        <p style="position:absolute;top:1119px;left:145px;white-space:nowrap" class="ft14">&#160;</p>
        <p style="position:absolute;top:1151px;left:145px;white-space:nowrap" class="ft14">&#160;</p>
    </div>
    <!DOCTYPE html>
    <br />
    <style type="text/css">
        <!--
        p {
            margin: 0;
            padding: 0;
        }

        .ft20 {
            font-size: 14px;
            font-family: Times;
            color: #000000;
        }

        .ft21 {
            font-size: 12px;
            font-family: Times;
            color: #000000;
        }

        .ft22 {
            font-size: 19px;
            font-family: Times;
            color: #000000;
        }

        .ft23 {
            font-size: 10px;
            font-family: Times;
            color: #000000;
        }

        .ft24 {
            font-size: 12px;
            line-height: 18px;
            font-family: Times;
            color: #000000;
        }

        .ft25 {
            font-size: 12px;
            line-height: 28px;
            font-family: Times;
            color: #000000;
        }

        .ft26 {
            font-size: 12px;
            line-height: 29px;
            font-family: Times;
            color: #000000;
        }
        -->
    </style>
    <div id="page2-div" style="position:relative;width:918px;height:1188px;">
        <p style="position:absolute;top:22px;left:150px;white-space:nowrap" class="ft20">ख)&#160;&#160;जग्गा तफि&#160;&#160;</p>
        <p style="position:absolute;top:54px;left:177px;white-space:nowrap" class="ft21">१)&#160;&#160;मुल&#160;सडक&#160;:-&#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160; &#160; &#160;&#160;&#160; &#160; &#160; &#160;&#160; &#160; &#160;&#160;२)सहायक&#160;सडक:-&#160;&#160;&#160;</p>
        <p style="position:absolute;top:59px;left:540px;white-space:nowrap" class="ft21">&#160;</p>
        <p style="position:absolute;top:59px;left:594px;white-space:nowrap" class="ft21">&#160;</p>
        <p style="position:absolute;top:54px;left:648px;white-space:nowrap" class="ft21">३)कच्िी&#160;सडक:-&#160;</p>
        <p style="position:absolute;top:98px;left:177px;white-space:nowrap" class="ft21">&#160;४)&#160;गोरेटो:-&#160;&#160;&#160;</p>
        <p style="position:absolute;top:103px;left:324px;white-space:nowrap" class="ft21">&#160;</p>
        <p style="position:absolute;top:98px;left:378px;white-space:nowrap" class="ft21">५)बाटो&#160;ििएको:-&#160;</p>
        <p style="position:absolute;top:143px;left:85px;white-space:nowrap" class="ft21">लस.िं.&#160;</p>
        <p style="position:absolute;top:143px;left:160px;white-space:nowrap" class="ft21">जग्गा&#160;ििीको&#160;िाम&#160;थर&#160;</p>
        <p style="position:absolute;top:143px;left:350px;white-space:nowrap" class="ft21">ज्ग्गा&#160;रहेको&#160;स्थाि&#160;</p>
        <p style="position:absolute;top:168px;left:363px;white-space:nowrap" class="ft21">स्थाि&#160;वडा&#160;िं.&#160;</p>
        <p style="position:absolute;top:143px;left:488px;white-space:nowrap" class="ft21">ककत्ता&#160;</p>
        <p style="position:absolute;top:168px;left:500px;white-space:nowrap" class="ft21">िं.&#160;</p>
        <p style="position:absolute;top:143px;left:544px;white-space:nowrap" class="ft21">िेत्रफल&#160;&#160;जग्गाको&#160;</p>
        <p style="position:absolute;top:168px;left:618px;white-space:nowrap" class="ft21">प्रयोग&#160;</p>
        <p style="position:absolute;top:143px;left:701px;white-space:nowrap" class="ft21">जग्गामा&#160;</p>
        <p style="position:absolute;top:168px;left:698px;white-space:nowrap" class="ft21">जोडडएको&#160;</p>
        <p style="position:absolute;top:193px;left:685px;white-space:nowrap" class="ft21">सडकको&#160;िाम&#160;</p>
        <p style="position:absolute;top:143px;left:802px;white-space:nowrap" class="ft21">कैकफयत&#160;</p>
        <p style="position:absolute;top:220px;left:84px;white-space:nowrap" class="ft21">&#160;</p>
        <p style="position:absolute;top:220px;left:137px;white-space:nowrap" class="ft24">&#160;<br />&#160;<br />&#160;<br />&#160;<br />&#160;<br />&#160;<br />&#160;<br />&#160;<br />&#160;</p>
        <p style="position:absolute;top:220px;left:338px;white-space:nowrap" class="ft21">&#160;</p>
        <p style="position:absolute;top:220px;left:488px;white-space:nowrap" class="ft21">&#160;</p>
        <p style="position:absolute;top:220px;left:541px;white-space:nowrap" class="ft21">&#160;</p>
        <p style="position:absolute;top:220px;left:605px;white-space:nowrap" class="ft21">&#160;</p>
        <p style="position:absolute;top:220px;left:680px;white-space:nowrap" class="ft21">&#160;</p>
        <p style="position:absolute;top:220px;left:786px;white-space:nowrap" class="ft21">&#160;</p>
        <p style="position:absolute;top:385px;left:172px;white-space:nowrap" class="ft25">१)&#160;&#160;घरको&#160;िक्सा&#160;जग्गाििी&#160;पुजािको&#160;प्रर्तललवप&#160;पेश&#160;गिुिपिेछ।&#160;<br />२)&#160;&#160;िागररकता&#160;प्रमाण-पत्रको&#160;प्रर्तललवप&#160;पेश&#160;गिुिपिेछ।&#160;<br />३)&#160;&#160;मालपोत&#160;कर&#160;रलसदको&#160;प्रर्तललवप&#160;पेश&#160;गिुिपिेछ।&#160;<br />४)&#160;&#160;िापी&#160;िक्साको&#160;प्रर्तललवप&#160;पेश&#160;गिुिपिेछ।&#160;<br />५)&#160;&#160;िगरपाललका&#160;गठि&#160;पुवि&#160;र्िमािण&#160;िएको&#160;घरको&#160;हकमा&#160;सम्बन्धित&#160;वडा&#160;कायािलयको&#160;लसफाररस&#160;पेश&#160;गिुिपिेछ।&#160;<br />६)&#160;&#160;मोहह&#160;लागेको&#160;िए&#160;कैकफयतमा&#160;उल्लेख&#160;गिुिपिेछ।&#160;<br />७)&#160;&#160;घरजग्गा&#160;बहालमा&#160;हदईरहेको&#160;िए&#160;बहालमा&#160;गएको&#160;घरको&#160;िाग&#160;वा&#160;हहस्सा&#160;बहाल&#160;वापत&#160;पाउिे&#160;रकमा&#160;</p>
        <p style="position:absolute;top:588px;left:199px;white-space:nowrap" class="ft21">रु...........................................र&#160;बहाल&#160;हदएको&#160;लमर्त........................&#160;</p>
        <p style="position:absolute;top:617px;left:172px;white-space:nowrap" class="ft25">८)&#160;&#160;श्रीमाि्/श्रीमती&#160;तथा&#160;छोराछोरीको&#160;िाममा&#160;यस&#160;बाहेक&#160;अरु&#160;घरजग्गा&#160;छ/छैि्।&#160;<br />९)&#160;&#160;घर&#160;जग्गा&#160;ििीको&#160;िाममा&#160;सवारी&#160;सािि&#160;मोटर&#160;छ/छैि्।&#160;<br />१०)&#160;&#160;घर&#160;जग्गा&#160;ििीको&#160;िाममा&#160;व्यवसाय&#160;दताि&#160;िएको&#160;छ/छैि्।&#160;<br />११)&#160;&#160;संयुक्त&#160;स्वालमत्व&#160;िए&#160;यस्ता&#160;हहस्सादार&#160;वा&#160;अंलशयारहरुको&#160;िाम:-</p>
        <p style="position:absolute;top:734px;left:199px;white-space:nowrap" class="ft21">…………………………………………………………………………………………………………………………&#160;</p>
        <p style="position:absolute;top:754px;left:172px;white-space:nowrap" class="ft21">१२)&#160;&#160;छुट&#160;गरेको&#160;घर&#160;जग्गाको&#160;वववरण:-&#160;</p>
        <p style="position:absolute;top:797px;left:172px;white-space:nowrap" class="ft26">माचथ&#160;लेखखए&#160;बमोन्जम&#160;मेरो/हाम्रो&#160;घरजग्गाको&#160;िाप&#160;िक्सा&#160;वववरण&#160;तथा&#160;बिोटको&#160;ककलसम&#160;समेत&#160;ठीक&#160;छ।&#160;झुट्टा&#160;<br />लेखखएको&#160;ठहरे&#160;बमोन्जम&#160;दण्ड&#160;सजाय&#160;सहुँला&#160;बुझाँउला।&#160;</p>
        <p style="position:absolute;top:871px;left:172px;white-space:nowrap" class="ft22">कायािलय&#160;तफिबाट&#160;&#160;</p>
        <p style="position:absolute;top:871px;left:378px;white-space:nowrap" class="ft22">&#160;</p>
        <p style="position:absolute;top:871px;left:432px;white-space:nowrap" class="ft22">&#160;</p>
        <p style="position:absolute;top:871px;left:486px;white-space:nowrap" class="ft22">&#160;</p>
        <p style="position:absolute;top:871px;left:540px;white-space:nowrap" class="ft22">&#160;</p>
        <p style="position:absolute;top:871px;left:594px;white-space:nowrap" class="ft22">&#160;&#160;&#160;&#160;वववरण&#160;दाखखला&#160;गिे&#160;</p>
        <p style="position:absolute;top:926px;left:108px;white-space:nowrap" class="ft23"><b>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;उल्िेखित&#160;करदातािे&#160;भरेको&#160;वििरणहरु&#160;स्थिगत&#160;&#160;</b></p>
        <p style="position:absolute;top:929px;left:432px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:929px;left:486px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:926px;left:540px;white-space:nowrap" class="ft23"><b>दस्तित&#160;:-&#160;</b></p>
        <p style="position:absolute;top:964px;left:108px;white-space:nowrap" class="ft23"><b>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;र्नररक्षण&#160;गदाि&#160;ठीक&#160;छ&#160;भनी&#160;सहह&#160;गने&#160;:-&#160;&#160;&#160;</b></p>
        <p style="position:absolute;top:968px;left:432px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:968px;left:486px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:964px;left:540px;white-space:nowrap" class="ft23"><b>नाम,थर&#160;:-&#160;</b></p>
        <p style="position:absolute;top:1006px;left:108px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1006px;left:162px;white-space:nowrap" class="ft23"><b>&#160;&#160;&#160;&#160;&#160;……………………………………………………………………………….&#160;</b></p>
        <p style="position:absolute;top:1006px;left:486px;white-space:nowrap" class="ft23"><b>&#160;&#160;</b></p>
        <p style="position:absolute;top:1002px;left:540px;white-space:nowrap" class="ft23"><b>ठेगाना&#160;:-&#160;</b></p>
        <p style="position:absolute;top:1044px;left:108px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1044px;left:162px;white-space:nowrap" class="ft23"><b>&#160;&#160;&#160;&#160;</b></p>
        <p style="position:absolute;top:1040px;left:173px;white-space:nowrap" class="ft23"><b>अन्र्&#160;वििरणहरु&#160;भए&#160;:-&#160;</b></p>
        <p style="position:absolute;top:1040px;left:324px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1040px;left:378px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1040px;left:432px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1040px;left:486px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1040px;left:540px;white-space:nowrap" class="ft23"><b>लमर्त:-&#160;</b></p>
        <p style="position:absolute;top:1082px;left:108px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1078px;left:162px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1078px;left:216px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1078px;left:270px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1078px;left:324px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1078px;left:378px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1078px;left:432px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1078px;left:486px;white-space:nowrap" class="ft23"><b>&#160;</b></p>
        <p style="position:absolute;top:1078px;left:540px;white-space:nowrap" class="ft23"><b>करदाताको&#160;पुरा&#160;नाम,थर:-&#160;</b></p>
        <p style="position:absolute;top:1118px;left:108px;white-space:nowrap" class="ft21">&#160; &#160; &#160; &#160; &#160;&#160; &#160; &#160;&#160;&#160; &#160; &#160;&#160;&#160;</p>
    </div>
</div>
