@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            @*<div class="header">
                <h4 class="title">202 Awesome Stroke Icons</h4>
                <p class="category">Handcrafted by our friends from <a target="_blank" href="http://themes-pixeden.com/font-demos/7-stroke/index.html">Pixeden</a></p>
            </div>*@
            <div class="content all-icons">
                <div class="row">
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/GharJagga/DashBoard/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-home"></i>
                                <input type="text" value="घर जग्गा">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/Darta/JanmaDarta/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-diskette"></i>
                                <input type="text" value="जन्म दर्ता फारम">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/Darta/MrityuDarta/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-delete-user"></i>
                                <input type="text" value="मत्यु दर्ता फारम">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/Darta/VivahDarta/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-mail-open-file"></i>
                                <input type="text" value="विवाहा दर्ता फारम">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/Darta/BasaisaraiDarta/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-car"></i>
                                <input type="text" value="बसाईसराई दर्ता फारम">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/Darta/DivorceDarta/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-car"></i>
                                <input type="text" value="सम्बन्ध बिच्छेद दर्ता फारम">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/DartaSupplement/NataPramanitSifaris/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-diskette"></i>
                                <input type="text" value="नाता प्रमाणित फारम">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/DartaSupplement/NabalakSifaris/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-diskette"></i>
                                <input type="text" value="नाबालक परिचय पत्र निवेदन फारम">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/DartaSupplement/NagariktaSifaris/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-diskette"></i>
                                <input type="text" value="नागरिकता परिचय पत्र निवेदन फारम">
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
