@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            @*<div class="header">
                    <h4 class="title">202 Awesome Stroke Icons</h4>
                    <p class="category">Handcrafted by our friends from <a target="_blank" href="http://themes-pixeden.com/font-demos/7-stroke/index.html">Pixeden</a></p>
                </div>*@
            <div class="content all-icons">
                <div class="row">
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/GharJagga/Department/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-users"></i>
                                <input type="text" value="विभाग">
                            </div>
                        </a>
                    </div>
                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                        <a href="~/GharJagga/FiscalYear/Index">
                            <div class="font-icon-detail">
                                <i class="pe-7s-note2"></i>
                                <input type="text" value="आर्थिक वर्ष">
                            </div>
                        </a>
                    </div>
                  
                </div>

            </div>
        </div>
    </div>
</div>
