@model SifarishView.Areas.GharJagga.Models.SanrachanaDemolitionViewModel
@{
    Layout = null;

    ViewBag.Title = "Index";
}


<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_002 {
            font-family: Arial,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        div.cls_002 {
            font-family: Arial,serif;
            font-size: 16.0px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        span.cls_004 {
            font-family: Arial,serif;
            font-size: 18.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: underline;
        }

        div.cls_004 {
            font-family: Arial,serif;
            font-size: 18.1px;
            color: rgb(0,0,0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }
        -->
    </style>
    <script type="text/javascript" src="f1a34724-8858-11ea-8b25-0cc47a792c0a_id_f1a34724-8858-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>

    <div class="card">
        <div class="content">
            <div style="position:absolute;left:413.95px;top:170.06px" class="cls_002"><span class="cls_002">मिति ः:....................</span></div>
            <div style="position:absolute;left:72.02px;top:198.86px" class="cls_002"><span class="cls_002">श्रीमान् प्रमुखज्यू</span></div>
            <div style="position:absolute;left:72.02px;top:227.66px" class="cls_002"><span class="cls_002">कीर्तिपुर नगरपालिका, राहत वितरण केन्द्र,</span></div>
            <div style="position:absolute;left:72.02px;top:256.49px" class="cls_002"><span class="cls_002">रेडियो मनिटरिङ्ग श्टेसन, चोभार । </span></div>
            <div style="position:absolute;left:171.98px;top:314.09px" class="cls_002"><span class="cls_002">विषय : त्रासपूर्ण संरचना भत्काउन÷हटाउन सहयोग पाउँ । </span></div>
            <div style="position:absolute;left:113.30px;top:371.57px" class="cls_002"><span class="cls_002">तपशिल वमाजिमका भातिक सरचनाका कारण </span></div>
            <div style="position:absolute;left:342.33px;top:371.57px" class="cls_002"><span class="cls_002">छर छिमक तथा सावजनिक आवागमनमा</span></div>
            <div style="position:absolute;left:72.02px;top:396.17px" class="cls_002"><span class="cls_002">मत त्राशदीपण वातावरण रहका हदा खतरा उत्पन्न गरिरहका उक्त सरचना तत्काल भत्काइ÷हटाइ  </span></div>
            <div style="position:absolute;left:72.02px;top:420.67px" class="cls_002"><span class="cls_002">सहयोग गरी दिनु हुन अनुरोध छ </span></div>
            <div style="position:absolute;left:72.02px;top:454.87px" class="cls_004"><span class="cls_004">संरचनाको विवरण</span></div>
            <div style="position:absolute;left:72.02px;top:483.55px" class="cls_002"><span class="cls_002">संरचना</span></div>
            <div style="position:absolute;left:72.02px;top:509.95px" class="cls_002"><span class="cls_002">संरचनाको धनीको नाम :@Model.Name</span></div>
            <div style="position:absolute;left:72.02px;top:536.35px" class="cls_002"><span class="cls_002">संरचना रहेको ठेगाना:@Model.Address</span></div>
            <div style="position:absolute;left:72.02px;top:562.63px" class="cls_002"><span class="cls_002">घर वा संरचनाको धनीको संपर्क नं.: @Model.Phone</span></div>
            <div style="position:absolute;left:72.02px;top:589.06px" class="cls_002"><span class="cls_002">संरचना भत्काउनु पर्ने अन्य कुनै कारण भए:@Model.Reason</span></div>
            <div style="position:absolute;left:360.07px;top:631.78px" class="cls_002"><span class="cls_002"></span></div>
            <div style="position:absolute;left:360.07px;top:656.26px" class="cls_002"><span class="cls_002">दस्तखत ः ............................ </span></div>
            <div style="position:absolute;left:360.07px;top:680.86px" class="cls_002"><span class="cls_002">नाम, थर ः :@Model.SuchakName</span></div>
            <div style="position:absolute;left:360.07px;top:705.34px" class="cls_002"><span class="cls_002">घरधनी संगको नाता : @Model.Relation</span></div>
            <div style="position:absolute;left:360.07px;top:729.82px" class="cls_002"><span class="cls_002">सम्पर्क फोन नं.  :@Model.SuchakPhone</span></div>
            </div>
        </div>

</body>
